<div class="col-sm-12 col-md-12 col-lg-6">
  <div class="card card1" >
    <%=image_tag("/assets/images/avatar.jpg",class: "card-img1 rounded-circle", size: "16x10", alt: "avatar")%>
    <div class="card-img">
        <%= link_to(training.user, html_options = {class:'name-btn   btn-sm '}) do%>
        <strong><%= training.user.name %></strong>
          <%end%>
    <small class="text-muted cat">
      <i class="far fa-clock text-info"></i> <%= training.date.strftime("%Y/%m/%d")  %>
      <i class="fas fa-users text-info"></i> <%= training.participants %>
    </small>
    </div>
    <div class="card-body">
    <h4 class="card-title">What we gonna do? <%= training.title%></h4>
    <p> Where? <%= training.location %>, <%= training.zipcode %>.</p>
    <p> Duration: <%= training.duration %></p>
    <% date_diff = Date.current() - Date.parse(training.date.to_s())%>
    <% if date_diff < 0 %>

        <%= join_to_training(training) %> 
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">last modified: <%= training.created_at.strftime("%Y/%m/%d") %> 
        </div>
        <div class="stats cat">
          <i class="far fa-eye"></i> 1347
          <i class="far fa-comment"></i> 12
        </div>
    <%else%>
      <div><strong>
      done
        ✅   ✅   ✅</strong> </div>

    <% end%>
    
  </div>
</div>
</div>
      
      