<section class="form-auth text-canter">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="text-center mb-4">
    <%= image_tag("/assets/images/running-couple.jpg", class: "mb-4", width: '72', height:'72')  %>
    <h1 class="h1 mb-3 font-weight-normal">Sign Up</h1>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-label-group">
    <%= f.text_field  :name, autofocus: true, id:"Name", class:"form-control", placeholder:"Name", autocomplete: "name" %>
    <label for="first_name">Name</label>
  </div>
  <div class="form-label-group">
    <%= f.email_field :email,  autofocus: true, id:"inputEmail", class:"form-control", placeholder:"Email address", autocomplete: "email" %>
    <label for="inputEmail">Email address</label>
  </div>
  <div class="form-label-group">
    <%= f.password_field :password, id:"inputPassword", class:"form-control", placeholder:"Password", autocomplete: "current-password" %>
    <label for="inputPassword">Password</label>
    <% if @minimum_password_length %>
    <em>At list <%= @minimum_password_length %> characters !</em>
    <% end %><br />
  </div>
  <div class="form-label-group">
    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Password confirmation", autocomplete: "new-password" %>
    <label for="password_confirmation">Password confirmation</label>
  </div>
  
  <div class="actions">
    <%= f.submit "Sign Up", class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</section>

